# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/node_modules
app/.pnp
.pnp.js
.yarn/install-state.gz

# testing
app/coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*
!.env.vault
!.env.project

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# App folder
app/log/*
!app/log/.gitkeep
app/_archive
app/__transfer__/data
app/__transfer__/complete*
app/__transfer__/partial
app/__transfer__/error
app/_temp/*
!app/_temp/.gitkeep
app/.env*
app/.flaskenv*
!app/.env.project
!app/.env.vault