@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

@font-face {
	font-family: Munro;
	src: url(https://raw.githubusercontent.com/Nik-Novak/Mind-Knight/master/Munro.ttf);
  }

/* ===========================
--- General elements
============================ */
html,body{
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-family: Munro;
}


button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /*padding: 11px 32px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

h1{
	font-size: 90px;
}

h2{
	font-size: 40px;

    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
	line-height: 1.1;
	border-radius: 10px;
}

h3{
	 font-size: 30px;
 }

h5{
	font-size: 15px;
}

section{
	padding: 50px 0;
}

th{
    text-align: center;
}

 td{
	padding: 2px 5px;
	 font-size: 12px;
}

.section-heading  .fa-angle-down{
	margin-top: 15px;	
}

textarea, input , select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nodisp:not(.always-visible){
	display: none;	
}

.hidden{
	visibility: hidden;
}

.flex-left{
	flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-right{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.flex-center{
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: transparent;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: transparent;
}

/* ===========================
--- Content
============================ */

#content{
	/*padding-top: 65px; !* offset navbar 65 navbar height *!*/
	/*padding-bottom: 152px; !* offset footer 152 footer height*!*/
	
}

#content input{
	height: 40px;	
}

#content input, #content textarea{
	border: 1px solid #d5dbdd;
	border-radius: 5px;
	font-weight: lighter;
}

#content input {
	text-indent: 10px;	
}

#content textarea{
	resize: none;
	padding: 3px;
}

#container {
	width:100%;
	height:100%;
   min-height:100%;
   position:relative;
}

#content *{

}

#content section{
	display: flex;
	flex-direction: column;
	align-items: center;
	height:100%;
}

#content .section-heading{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ===========================
--- Footer
============================ */

footer{
	display: flex;
	/*align-items: center;*/
	position: absolute;
	/*justify-content: space-between;*/
	bottom: 0;
	width: 100%;
	height: 52px;
}



footer .btn-circle{
	width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;	
	text-transform: uppercase;
    font-weight: 400;
	display: inline-block;
    margin-bottom: 15px;
	text-align: center;
    vertical-align: middle;
    cursor: pointer;
	white-space: nowrap;
	line-height: 1.428571429;
	user-select: none;
	text-decoration: none;
	box-sizing: border-box;
}

footer h5{
	margin: 15px;
}

footer .flex-center {
	text-align: center;
}