#center-interface{
    position: relative;
}

.player-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4vh;
}

.player-img img{
    width: 4vh;
}

.player-container .action-exists-icon {
    position: absolute;
    left: -45%;
    top: 0;
}

.player-container .hammer-icon {
    position: absolute;
    left: -50%;
    top: 60%;
}

.player-container .disconnect-icon {
    position: absolute;
    left: 120%;
    top: 0;
}

.player-container .vote-icon {
    position: absolute;
    left: 120%;
    bottom: 50%;
}

.player-container .prop-number-container {
    position: absolute;
    left: 118%;
    bottom: 20%;
}

.player-container .player-name{
    margin-top: 5px;
}

.player-img{
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}

.player-container.highlighted > .player-img {
    border-radius: 0 0 20px 20px;
}

.fa-times{
    font-size: 20px;
}


/******************ADVANCED INFO*************************/


/******************POSITIONS************************/

.player-container[index='0']{
    left: 23%;
    bottom: 65%;
}

.player-container[index='1']{
    left: 20%;
    bottom: 20%;
}

.player-container[index='2']{
     left: 61%;
     bottom: 11%;
 }

.player-container[index='3']{
    left: 80%;
    bottom: 45%;
}

.player-container[index='4']{
    left: 59%;
    bottom: 79%;
}

.player-container[index='5']{
    display:none;
}

.player-container[index='6']{
    display:none;
}

.player-container[index='7']{
    display:none;
}

/*******FLIP IMAGES*******/
.player-container[index='2'] > .player-img > img, .player-container[index='3'] > .player-img > img, .player-container[index='4'] > .player-img > img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}








.nodisp:not(.always-visible){
    display: none;
}