
/******************POSITIONS************************/

.player-container[index='0']{
    left: 23%;
    bottom: 65%;
}

.player-container[index='1']{
    left: 20%;
    bottom: 20%;
}

.player-container[index='2']{
     left: 61%;
     bottom: 11%;
 }

.player-container[index='3']{
    left: 80%;
    bottom: 45%;
}

.player-container[index='4']{
    left: 59%;
    bottom: 79%;
}

.player-container[index='5']{
    display:none;
}

.player-container[index='6']{
    display:none;
}

.player-container[index='7']{
    display:none;
}

/*******FLIP IMAGES*******/
.player-container[index='2'] > .player-img > img, .player-container[index='3'] > .player-img > img, .player-container[index='4'] > .player-img > img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}