node_modules
# Keep environment variables out of version control
.env
_archive

__transfer__/data
__transfer__/complete
__transfer__/partial
__transfer__/error
__test__/data
__test__/complete
__test__/error
_temp/*
!_temp/.gitkeep
.env*
.flaskenv*
!.env.project
!.env.vault