.playerContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4vh;
}

.playerImg img:nth-child(1) {
  user-select: none;
  image-rendering: pixelated;
  width: 4vh;
  height: 10.719vh;
  transform: scaleX(2) scaleY(1.4) translateY(-0.5vh); /* Adjust for new uncropped image size of skins */
}

.badge {
  position: absolute;
  /* left: 40.5%;
  top: 30%; */
  left: 42.5%;
  top: 31%;
}

.actionExistsIcon {
  position: absolute;
  left: -30%;
  top: -0%;
  color: #AD8432;
  font-size: 2.5vh !important;
}

.hammerIcon {
  /* transform: scaleX(-1); */
  position: absolute;
  left: -30%;
  bottom: -3%;
  color: darkgray;
  font-size: 2.5vh !important;
}

.disconnectIcon {
  position: absolute;
  left: 95%;
  top: 0;
  font-size: 2.5vh !important;
}

.voteIcon {
  position: absolute;
  left: 95%;
  bottom: 40%;
  font-size: 2.5vh !important;
}

.propNumberContainer {
  position: absolute;
  left: 102%;
  bottom: 0%;
  font-size: 1.5vh !important;
  color: lightgray;
}

.playerInfo{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  user-select: none;
}
.playerInfo p {
  line-height: 1;
}

.playerImg{
  position: relative;
  width: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
}


.isShadowed > .playerImg {
  border-radius: 0 0 20px 20px;
}
.isShadowed > .playerImg {
  background: linear-gradient(to top, rgb(72, 51, 6), rgba(163,122,50, 0));
  /*background: rgba(163,122,50, 0.7);*/
}
.isPropped > .playerImg {
  border-radius: 0 0 20px 20px;
}
.isPropped > .playerImg {
  background: linear-gradient(to top, rgba(173,132,50, 1), rgba(163,122,50, 0));
  /*background: rgba(163,122,50, 0.7);*/
}

.selected > .playerImg {
  box-shadow: 0 0 10px 2px white;
  /*background: rgba(163,122,50, 0.7);*/
}