
html, body {
    margin: 0;
    height: 100%;
}

#content {
    height:100%;
    width:100%;
    padding:0;
    display: flex;
    flex-direction: row;
}

#content {
    height:100%;
    width:100%;
    padding:0;
    display: flex;
    flex-direction: row;
}

footer {
    pointer-events: none;
}

footer .flex-right{
    pointer-events: auto;
}


.round-button {
    border-radius: 50%;
    cursor: pointer;
}
.round-button-circle {
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
}

.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
}

input.search::-webkit-search-cancel-button{
    position:relative;
    right:10px;    
}


/* ===========================
--- Left
============================ */
#content .content-left {
    width: 23.44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


#chat-log, #debug-log{
    width:88.5%;
    /*height: 34.31vh;*/
    margin-bottom: 20px;
}

.content-left .advanced-options{
    width: 88.5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

#content .content-left .advanced-options input{
    height:30px;
}

.log-title {
    font-size: 150%;
    display:flex;
    justify-content: center;
    border: #cccccc solid 2px;
    cursor: pointer;
}

.log-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.log-search input.search{
    width: 80%;
    margin-left: 10px;
    flex: 1 1 auto;
}

.content-left .toggle-visibility {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    margin: 0 10px;
}

.content-left .clear-text {
    margin-left: -50px;
    width: 50px;
    height: 32px;
}

.content-left ul{
    padding: 5px 0;
    height: 30vh;
    overflow:hidden; overflow-y:scroll;
}

.content-left li{
    list-style-type: none;
    margin: 0 10px;
}

/* ===========================
--- CENTER
============================ */

#content .content-center{
    width: 67.185%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-center .important-info{
    width: 33.36vw;
    height: 7.92vh;
    display: flex;
    text-align: center;
}

.content-center .important-info .left, .content-center .important-info .right{
    width: 37.47%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2vh;
}

.content-center .important-info .center{
    width: 25.06%
}

.content-center .important-info .center p{
    font-size: 2vh;
}

.content-center .important-info .center h3{
    font-size: 5vh;
}

.turn-container {
    width: 33.36vw;
    display:flex;
    margin: 5px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.turn-container .round-button {
    width: 2vh;
    margin: 5px 5px 0px;
}

.turn-container .round-button-circle {
    box-shadow: 0 0 10px 2px grey;
}

.turn-container .round-button-circle:hover{
    box-shadow: 0 0 10px 2px white;
}

#center-interface{
    width: 100%;
    height: 80.7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    margin-bottom:20px;
    bottom:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container button{
    width:100px;
    margin: 3px;
}

.notes-button a{
    color: black;
    text-decoration: none;
}

.advanced-target-container{
    opacity:0;
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -ms-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}



/* ===========================
--- RIGHT
============================ */

#content .content-right {
    position:relative;
    /*width: 9.375%;*/
    width: 23.44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.node-container{
    margin: 10%;
    /*width:42.66%;*/
    /*width:53.33%;*/
    height:56.94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.node-container{
    margin: 10%;
    /*width:42.66%;*/
    /*width:53.33%;*/
    height:56.94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.noderejects-container{
    position: absolute;
    right:9vw;
    top:0;
    margin:  10% 10%;
    width: 8.89vh;
    text-align: center;
}

.noderejects-container h4 {
    padding: 10px 0;
    font-size: 30px;
}

.noderejects-container p {
    font-size: 2vh;
}

.node-container .round-button {
    width: 8.89vh;
}

.node-container .round-button.selected {
    /*border:2px solid #cfdcec;*/
    box-shadow: 0 0 0 3px white;
}

.advanced-node-container{
    position: absolute;
    right:0;
    bottom:0;
    width:120%;
    opacity:0;
    margin-bottom:5px;
    margin-right: 5px;
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -ms-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}


/* ===========================
--- ANIMATIONS
============================ */
.opaque{
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


/* ===========================
--- MEDIA QUERIES
============================ */

@media(max-height:700px){
    .noderejects-container{

    }
}

/* ===========================
--- DEBUG
============================ */
/*#content .content-left {*/
    /*background: aquamarine;*/
/*}*/
/*#content .content-right  {*/
    /*background: lightslategrey;*/
/*}*/

/*#center-interface{*/
    /*background: #4F4E4C;*/
/*}*/

/*.advanced-target-container{*/
    /*opacity:1;*/
/*}*/


