#content .options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content .options-container span.button-container{
  width: 50%;
  margin: 20px 50px;
}

#content .options-container button {
  width: 100%;
  font-size: 46px;
}

@media(max-width:768px){
  #content .options-container button{
    font-size: 6vw;
  }
}