.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: antiquewhite;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgray;
}

.menuItem {
  padding: 5px;
  margin: 0 5px;
}

.menuItem:hover {
  background-color: gray;
}