.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center; */
  /* justify-content: space-around; */
  flex:1
}

.left {
  justify-content: flex-end;
  max-width: 400px;
}

.center {
  flex:1;
  align-items: center;
}

.right {
  /* width: 23.44%; */
  margin: 20px;
  align-items: center;
}