/******************POSITIONS************************/

.playerContainer[data-index='0']{
  left: 27%;
  bottom: 75%;
}

.playerContainer[data-index='1']{
  left: 10%;
  bottom: 43%;
}

.playerContainer[data-index='2']{
  left: 23%;
  bottom: 11%;
}

.playerContainer[data-index='3']{
  left: 65%;
  bottom: 0%;
}

.playerContainer[data-index='4']{
  right:5%;
  bottom: 43%;
}

.playerContainer[data-index='5']{
  right:17%;
  bottom: 62%;
}

.playerContainer[data-index='6']{
  right:30%;
  bottom: 80%;
}

.playerContainer[data-index='7']{
  display:none;
}

/*******FLIP IMAGES*******/
.playerContainer[data-index='3'] img, .playerContainer[data-index='4'] img, .playerContainer[data-index='5'] img, .playerContainer[data-index='6'] img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}